body {
  background-color: #121212;
  color: #f8f9fa;
}

.card.green {
  background-color: #14532d; /* sötétzöld */
  color: #d1fae5;
}

.card.yellow {
  background-color: #78350f; /* sötét sárgásbarna */
  color: #fef9c3;
}

.card.red {
  background-color: #7f1d1d; /* sötétpiros */
  color: #fecaca;
}

.card {
  border: none;
  border-radius: 0.75rem;
}
